<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chitter</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Welcome to Chitter {{user.name}}!</h1>

        <form action="/home" method="delete">
            <button type="submit">Logout</button>
        </form>

        <ul>
        {% for peep in peeps %}
        <div>
            <p>User: {{peep.user_id}}<br />Posted: {{peep.timestamp}}<br />{{peep.content}} </p>
        </div>
        {% endfor %}

        <form action="/home" method="post">
            <p>
                <label for="Peep">Peep</label>
                <input type="text" name="content" id="content">
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>

        <!-- Jinja isn't Python, so we need an endfor to close the loop -->
        </ul>
    </body>
</html>